<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
	<title>Resume</title>
</head>
<body>

		<h1>Hey! welcome here you can make your resume<br> just by one click</h1>
		<form action='complete' method='get'>
			<div style="margin: 0px; height: 700px; width: 550px;border:2px solid #000;">
			<pre><br>
First Name       Last Name<br><br>
Mobile No.       Email add.<br><br>
Address<br><br>
Objective<br><br>
Qualification<br><br>
Work Experience<br><br>
Achievements<br><br>
Hobbies
			</pre>
			</div><br>
			<input type="checkbox" name="format_1">Choose this format<br>
			<div style="margin: 0px; height: 700px; width: 550px;border:2px solid #000;">
			<pre><br>
First Name<br><br>
Last Name<br><br>
Mobile No.<br><br>
Email add.<br><br>
Address<br><br>
Objective<br><br>
Qualification<br><br>
Work Experience<br><br>
Achievements<br><br>
			</pre>
			</div><br>
			<input type="checkbox" name="format_2">Choose this format<br><br>
			First name
			<textarea name='my_first_name' style="margin: 0px; height: 33px; width: 205px;"></textarea>
			Last name
			<textarea name='my_last_name' style="margin: 0px; height: 33px; width: 205px;"></textarea></p>
			<p>Mobile no
			<textarea name='my_mobile' style="margin: 0px; height: 33px; width: 205px;"></textarea>
			Email
			<textarea name='my_email' style="margin: 0px; height: 33px; width: 205px;"></textarea></p>
			<p>Address
			<textarea name='my_address' style="margin: 0px; height: 99px; width: 515px;"></textarea></p>
			<p>Objective
			<textarea name='my_objective' style="margin: 0px; height: 99px; width: 515px;"></textarea></p>
			<p>Qualification
			<textarea name='my_qualify' style="margin: 0px; height: 168px; width: 230px;"></textarea></p>
			<p>Work Experience
			<textarea name='my_exp' style="margin: 0px; height: 99px; width: 515px;"></textarea></p>
			<p>Achievements
			<textarea name='my_achievements' style="margin: 0px; height: 168px; width: 230px;"></textarea></p>
			<p>Hobbies
			<textarea name='my_hobby' style="margin: 0px; height: 99px; width: 515px;"></textarea></p>
			<button type="submit" class="btn btn-dark mt-2">Make Resume</button>
		</form>
		
		
	</body>
</html>