<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Resume make</title>
  </head>
  <body>
    <h1>Your Resume is here... It's nice</h1>
	<br>
	<div style="margin: 0px; height: 700px; width: 550px;border:2px solid #000;"><br>
		<pre>
<b>Name:</b>
{{f_name}} {{l_name}}
<b>Moile No.:</b>
{{mob_no}}
<b>Email add.:</b>
{{email}}
<b>Address:</b>
{{address}}
<b>Objective:</b>
{{objective}}
<b>Qualifications:</b>
{{qualification}}
<b>Experience:</b>
{{exp}}
<b>Achievements:</b>{{my_achievements}}
<b>Hobbies:</b>
{{my_hobby}}
		</pre>
	</div>
  </body>
</html>
  
